<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
    <link rel="stylesheet" href="/static/accept_order.css">
    <script>
        setTimeout('location.reload()', 5000);
        function myFunction() {
            alert("배달완료");
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="section">
            <h3>주소: {{ city }} {{ county }} {{ detail_address }}</h3>
            <h3>가격: {{ price }}원</h3>
            <h3>시간: {{ time }}분</h3><br>
            <h3>재료</h3>
        <ul>
            {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
            <button onclick="myFunction()">배달완료</button>
        </div>
    </div>
</body>

</html>